# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/
.venv/

# ================================
# Jupyter Notebook
# ================================
.ipynb_checkpoints

# ================================
# Environment Variables
# ================================
.env

models/
*.pkl
# ================================
# Logs
# ================================
logs/
*.log

# ================================
# FastAPI / Server
# ================================
*.db
*.sqlite3

# ================================
# MacOS
# ================================
.DS_Store

# ================================
# VSCode
# ================================
.vscode/

# ================================
# PyCharm
# ================================
.idea/

# ================================
# Build Files
# ================================
build/
dist/
*.egg-info/

# ================================
# Docker
# ================================
docker-compose.override.yml

# ================================
# Temporary Files
# ================================
*.tmp
*.swp
*.swo

# ================================
# Testing
# ================================
.coverage
.pytest_cache/

# ================================
# Streamlit
# ================================
.streamlit/

# ================================
# MLflow
# ================================
mlruns/